.DS_Store
*.swp
*.swo
openai_response_debug.json

Philo des sciences 4L7PH05D Physique pour philosophes/
Philo moderne 4L7PH02D - Certitudes etc./
Philosophie morale ou politique 4L7PH06D Psychotechnologies/
